<mat-toolbar class="toolbar">
    <img
      width="120"
      alt="Premier League Logo"
      src="favicon.ico"
    />
    <span>Premier League Stats</span>
</mat-toolbar>
  <nav class="topnav-centered">
      <a routerLink="/footballclubs" routerLinkActive="active" mat-button color="warn">
        Standings</a>
      <a routerLink="/matches" routerLinkActive="active" mat-button color="warn">
        Matches</a>
    <a routerLink="/clubList" routerLinkActive="active" mat-button color="warn">
      Clubs</a>
  </nav>
<router-outlet></router-outlet>






